# dependencies
node_modules/

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
static/.DS_Store
.DS_Store
*.swp

# .env file
.env
*.obsidian
.output

AUTOMATED_PUSH_LOG.secrets
.secrets
